.nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  top: 0;
  width: 100%;
  padding: 20px;
  z-index: 10;
  height: 30px;
  /* animation */
  transition-timing-function: ease-in;
  transition: all 0.2s;
  align-items: center;
}
.nav__black {
  background-color: #111;
}

.nav__logo {
  width: 80px;
  object-fit: contain;
  position: fixed;
  left: 20px;
}

.nav__avatar {
  width: 30px;
  object-fit: contain;
  right: 20px;
  position: fixed;
}

.nav__navList {
  display: flex;
}

.nav__navListItems {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin-left: 100px;
}

.nav__navListItems li {
  padding: 5px 10px;
}
